.image-composition{
    position: relative;

    &__image{
        width: 60%;
        position: absolute;
        border-radius: 5px;
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        transition: all .2s;

        &--photo-1{
            left: 0;
            top: -2rem;
            z-index: 10;
        }

        &--photo-2{
            right: 0;
            top: 0;
            z-index: 20;
        }

        &--photo-3{
            left: 20%;
            top: 10rem;
            z-index: 30;
        }

        &:hover{
            z-index: 40;
            transform: scale(1.5);
            box-shadow: 0 1rem 2rem rgba($color-black, .8);
            outline: .4rem solid $color-primary;
            outline-offset: 1rem;
        }
    }

    &:hover *:not(:hover){
        transform: scale(.9);
    }
}