$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-light: #f2f3f4;
$color-white: #fff;
$color-black: #000;

$heading-secondary-font-size: 3.2rem;
$heading-tertiary-font-size: 1.6rem;

$grid-gap-between: 6rem;
